<!-- Primary Meta Tags -->
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="ECrime.XYZ">

    <link rel="manifest" href="/manifest.json">


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#383838">


    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="E-Crime Portal">
    <meta name="apple-mobile-web-app-title" content="E-Crime Portal">
    <meta name="theme-color" content="#383838">
    <meta name="msapplication-navbutton-color" content="#383838">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Open Graph / Facebook -->
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title><% if (!title) { %>E-Crime Portal<% } else { %><%= title %> | E-Crime Portal<% } %></title>
    <!-- Search Engine -->
    <meta name="keywords" content="<% if (!keywords) { %><% } else { %><%= keywords %><% } %>">
    <meta name="description" content="<% if (!description) { %>Thoughts; Personal, Political and often controversial. Stick around to read some!<% } else { %><%= description %><% } %>">
    <meta name="image" content="<% if (!image) { %><% } else { %><%= image %><% } %>">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="<% if (!title) { %>E-Crime Portal<% } else { %><%= title %> | E-Crime Portal<% } %>">
    <meta itemprop="description" content="<% if (!description) { %>Thoughts; Personal, Political and often controversial. Stick around to read some!<% } else { %><%= description %><% } %>">
    <meta itemprop="image" content="<% if (!image) { %><% } else { %><%= image %><% } %>">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<% if (!title) { %>E-Crime Portal<% } else { %><%= title %> | E-Crime Portal<% } %>">
    <meta name="twitter:description" content="<% if (!description) { %>Thoughts; Personal, Political and often controversial. Stick around to read some!<% } else { %><%= description %><% } %>">
    <meta name="twitter:site" content="@tooakshi">
    <meta name="twitter:creator" content="@tooakshi">
    <meta name="twitter:image:src" content="<% if (!image) { %>https://cdn.akshit.me/api/images/tw_200.png<% } else { %><%= image %><% } %>">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="<% if (!title) { %>E-Crime Portal<% } else { %><%= title %> | E-Crime Portal<% } %>">
    <meta property="og:description" content="<% if (!description) { %>Thoughts; Personal, Political and often controversial. Stick around to read some!<% } else { %><%= description %><% } %>">
    <meta property="og:image" content="<% if (!image) { %><% } else { %><%= image %><% } %>">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:site_name" content="<% if (!title) { %>E-Crime Portal<% } else { %><%= title %> | E-Crime Portal<% } %>">
    <meta property="og:locale" content="en_IN">
    <meta property="og:type" content="website">
    <!--  Stylesheets  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="/css/styles.css">
